.container {
  height: 100%;
  width: 75%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.438);
  margin-left: 10%;
}
.container1 {
  height: 100px;
  margin-top: 10%;
  margin-left: 12%;
}
.span1 {
  margin-right: 25%;
  font-size: 50px;
}
.span2 {
  color: red;
}
.container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  color: rgba(255, 0, 0, 0.774);
  justify-content: center;
}
.card {
  height: 100%;
  border: 1px solid red;
  border-radius: 8px;
  padding-left: 15px;
  padding-bottom: 10%;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.233);
}
.nav {
  margin-top: 5%;
  margin-left: 90%;
}
.tin {
  margin-left: 10%;
  font-size: 25px;
}
.container4 {
  margin-left: 5%;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
}
.line {
  margin-top: 50px;
}
.icon {
  margin-left: 38%;
  margin-top: 1%;
  color: red;
}
.card1 {
  width: 25%;
  height: 50%;
  margin-top: 4%;
  margin-left: 20%;
  border: 1px solid red;
  border-radius: 8px;
  padding-left: 100px;
  padding-bottom: 1%;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.233);
}

.page {
  filter: blur(3px);
}

.pop {
  height: 25%;
  border: 2px solid red;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  top: 35%;
  left: 35%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: red;
}

.nav2 {
  margin-left: 78%;
}

@media screen and (max-width: 700px) and (min-width: 200px) and (max-height: 800px) {
  .span3 {
    display: none;
  }

  .container2 {
    display: grid;
    grid-template-columns: auto;
  }

  .card {
    height: 50px;
    width: 100%;
  }

  .input {
    display: none;
  }

  .line {
    display: none;
  }
}
